<script>
	var getStates = function() {
		$.ajax({
			type: "GET",
			url: "/estado/getStates",
			dataType: "json",
			success: function(result) {
				data = result.states
				$("#automplete-2").autocomplete({
				   source: data,
				   messages: false,
				});
			}
		})
	}
	getStates()
</script>
<script>
	var createChart = function() {
		$.ajax({
			type: "GET",
			url: "/home/topStates",
			dataType: "json",
			success: function(result) {
				$('#states-chart').highcharts({
					chart: {
						backgroundColor: 'transparent',
					},
					title: {
						text: 'Entidades más violentas'
					},
					xAxis: {
						categories: [
						'2007', 
						'2008', 
						'2009', 
						'2010', 
						'2011', 
						'2012', 
						'2013', 
						'2014',
						'2015' 
						]
					},
					series: [{
						name: result["chihuahua"]["estado"],
						data: [
							parseInt(result["chihuahua"]["homici2007"]),
							parseInt(result["chihuahua"]["homici2008"]),
							parseInt(result["chihuahua"]["homici2009"]),
							parseInt(result["chihuahua"]["homici2010"]),
							parseInt(result["chihuahua"]["homici2011"]),
							parseInt(result["chihuahua"]["homici2012"]),
							parseInt(result["chihuahua"]["homici2013"]),
							parseInt(result["chihuahua"]["homici2014"]),
							parseInt(result["chihuahua"]["homici2015"]),
						]
					},{
						name: result["guerrero"]["estado"],
						data: [
							parseInt(result["guerrero"]["homici2007"]),
							parseInt(result["guerrero"]["homici2008"]),
							parseInt(result["guerrero"]["homici2009"]),
							parseInt(result["guerrero"]["homici2010"]),
							parseInt(result["guerrero"]["homici2011"]),
							parseInt(result["guerrero"]["homici2012"]),
							parseInt(result["guerrero"]["homici2013"]),
							parseInt(result["guerrero"]["homici2014"]),
							parseInt(result["guerrero"]["homici2015"]),
						]
					},{
						name: result["michoacan"]["estado"],
						data: [
							parseInt(result["michoacan"]["homici2007"]),
							parseInt(result["michoacan"]["homici2008"]),
							parseInt(result["michoacan"]["homici2009"]),
							parseInt(result["michoacan"]["homici2010"]),
							parseInt(result["michoacan"]["homici2011"]),
							parseInt(result["michoacan"]["homici2012"]),
							parseInt(result["michoacan"]["homici2013"]),
							parseInt(result["michoacan"]["homici2014"]),
							parseInt(result["michoacan"]["homici2015"]),
						]
					},{
						name: result["sinaloa"]["estado"],
						data: [
							parseInt(result["sinaloa"]["homici2007"]),
							parseInt(result["sinaloa"]["homici2008"]),
							parseInt(result["sinaloa"]["homici2009"]),
							parseInt(result["sinaloa"]["homici2010"]),
							parseInt(result["sinaloa"]["homici2011"]),
							parseInt(result["sinaloa"]["homici2012"]),
							parseInt(result["sinaloa"]["homici2013"]),
							parseInt(result["sinaloa"]["homici2014"]),
							parseInt(result["sinaloa"]["homici2015"]),
						]
					}],
			        credits: false,
					tooltip: {
		    			backgroundColor: "rgba(0,0,0, 0.65)",
		    			borderRadius: 0,
		    			borderWidth: 0,
						shadow: false,
						style: {
							color: "#ffffff"
						},
		    			formatter: function() {
		    				return '<span><b>'+ this.x +'</b><br/>'+Highcharts.numberFormat(this.y, 0)+'</span>'
						}
		    		},
			        legend: {
			            align: 'right',
			            verticalAlign: 'top',
			            layout: 'vertical',
			            x: 0,
			            y: 100
			        },
		    		yAxis: {
		    			visible: false,
		    			gridLineWidth: 0,
		    		},
		    		colors: ['#ffab00', '#dd2c00', '#ffd600', '#ff6d00'],
				})
			} 
		})	
	}
	createChart()


	$(function () { 
		$('#national-chart').highcharts({
			chart: {
				type: 'column',
        		backgroundColor: 'transparent',
			},
			title: {
				text: 'Total nacional'
			},
			xAxis: {
				categories: [
				'2007', 
				'2008', 
				'2009', 
				'2010', 
				'2011', 
				'2012', 
				'2013', 
				'2014',
				'2015' 
				]
			},
			series: [{
				data: [2826,6837,9614,15266,15768,13675,11269,8004,8122]
			}],
			legend: {
	            enabled: false
	        },
	        credits: false,
			tooltip: {
    			
    			backgroundColor: "rgba(0,0,0, 0.65)",
    			borderRadius: 0,
    			borderWidth: 0,
				shadow: false,
				style: {
					color: "#ffffff"
				},
    			formatter: function() {
    				return '<span><b>'+ this.x +'</b><br/>'+Highcharts.numberFormat(this.y, 0)+'</span>'
				}
    		},
    		yAxis: {
    			visible: false,
    			gridLineWidth: 0,
    		},
    		colors: ['#ffab00'],
		})
	})





</script>

<div class="b-container main">
	<hr>
	<div class="row container-height-50">
			<div class="ui-widget">
				<form action="/estado/targetState" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input class="box-text-input col s9 m4 l3" placeholder="Selecciona entidad" name="state[estado]" id="automplete-2" type="text">
					<button type="submit" class="btn-floating btn-small waves-effect waves-light transparent z-depth-0 col s3 m2 l1"><i class="material-icons blue-text">send</i></button>
				</form>
			</div>
		</p>
	</div>
	<div>
		<div class="row title-row">
			<p class="section-title flow-text grey-text text-darken-2">Ejecuciones</p>
		</div>
		<div class="row">
			<div class="col s2">
				<a class="waves-effect waves-light btn-flat blue-text year-button active-year-button" id="national-map-2015">2015</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2014">2014</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2013">2013</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2012">2012</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2011">2011</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2010">2010</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2009">2009</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2008">2008</a>
				<a class="waves-effect waves-light btn-flat blue-text year-button" id="national-map-2007">2007</a>
			</div>
			<div class="col s10" id="map-container-2015"></div>
		</div>
		<div class="row">
			<div class="col l5 m5 s12">
				<div id="national-chart" class="container-height-300">
				</div>
			</div>
			<div class="col l7 m7 s12">
				<div id="states-chart" class="container-height-300">
				</div>
			</div>
		</div>
		<div class="row">
			<div class"col l12 b-wide-table">
				<div class="table-container">
					<table class="highlight b-wide-table grey-text text-darken-2">
						<thead>
							<tr>
								<th data-field="estado">Estado<span style="color:transparent">000000000</span></th>
								<% (2007..2015).each do |x|%>
									<th data-field="<%=x%>" class="right-align"><%=x%></th>
								<% end %>
							</tr>
						</thead>
						<tbody>
							<% @states.each do |state| %>
								<tr>
									<td><a href="/estado/<%=state.clave_estado%>"><%=state.estado%></a></td>
									<td class="right-align"><%=state.homici2007%></td>
									<td class="right-align"><%=state.homici2008%></td>
									<td class="right-align"><%=state.homici2009%></td>
									<td class="right-align"><%=state.homici2010%></td>
									<td class="right-align"><%=state.homici2011%></td>
									<td class="right-align"><%=state.homici2012%></td>
									<td class="right-align"><%=state.homici2013%></td>
									<td class="right-align"><%=state.homici2014%></td>
									<td class="right-align"><%=state.homici2015%></span>							
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
